html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
}

.gutter{
	margin: 1rem;
}

.img-flex{
	width: 100%;
	display: block;
}

a{
	text-decoration: none;
	color: #1579db;
	font-size: 1.2rem;
	padding: .5em;
}

li {
	list-style-type: none;
	text-decoration: none;
	padding: .5rem;
  display: block;
  padding: 0;
}

header {
  background-color: #cbcbcb;
}

footer{
	background-color: #cbcbcb;
}

.bgc{
	background-color:	#e2e2e2;
}

.bgc2{
	background-color: #eeeeee;
}

a:hover{
	background-color: #1579db; 
	color: white;
	padding-left: .5em;
}


p{
  padding: 0;
  margin: 0;
}

h2{
	text-align: center; 
}

dd{
	margin: 0;
	font-size: 1.2em;
	padding-bottom:1rem;
}

dt{
	padding-top: .5rem;
}

.foot{
  padding-left: .5rem;

}

@media only screen and (min-width: 25em) {

	.title,
  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

}

  .list-group-inline{
    display: inline-block;
  }

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .nav {
    text-align: left;
  }


  h1{
  	text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }