html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
}

.gutter{
	padding: 1rem;
}

.img-flex{
	width: 100%;
	display: block;
}

ol{
	display: inline-block;
	padding: 0;
}

li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

header {
  background-color: grey;
}